.about-block {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-bottom: 130px;
}

.about-block__maintitle {
  color: var(--color-text);
  font-size: 42px;
  font-family: var(--second-family);
  line-height: 120%;
  text-align: center;
}

.about-block__null {
  width: 55px;
  height: 55px;
}

.about-block__icon {
  margin-left: 10px;
}

.about-block__title {
  line-height: 125%;
  padding-top: 8px;
  padding-bottom: 11px;
  font-family: var(--second-family);
  font-size: 25px;
}

.about-block__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.about-block__column {
  line-height: 160%;
  font-size: 15px;
}

@media (--sm-viewport) {
  .about-block {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-block__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .about-block__maintitle {
    padding-right: 74px;
    text-align: left;
  }
}

@media (--xl-viewport) {
  .about-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .about-block__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
