.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 160px;
  padding-bottom: 120px;
  gap: 32px;
}

.benefits__card {
  padding: 32px;
  padding-bottom: 40px;
}

.benefits__title {
  font-family: var(--second-family);
  font-size: 25px;
  line-height: 125%;
  padding-top: 8px;
  padding-bottom: 11px;
}

.benefits__desc {
  font-size: 15px;
  line-height: 160%;
}

.benefits__card--fastcard {
  background-color: var(--color-surface-third);
}

.benefits__card--cashcard {
  background-color: var(--color-surface-secondary);
}

.benefits__card--safecard {
  background-color: var(--color-surface);
}
