.footer {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 40px;
}

.footer__main {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  gap: 30px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 40px;
}

.footer__column {
  width: 216px;
}

.footer__desc-link {
  color: var(--color-purr);
  line-height: 151%;
  font-size: 13px;
}

.footer__desc-link:hover {
  color: var(--color-umbra);
  cursor: pointer;
}

.footer__desc {
  color: var(--color-umbra);
  line-height: 140%;
  font-size: 14px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
}

.footer__logo svg {
  width: 135px;
  height: 47px;
  margin-bottom: 17px;
}

.footer__column-title {
  margin-bottom: 16px;
  font-size: 15px;
  color: var(--color-umbra);
  line-height: 160%;
}

.footer__list {
  font-size: 14px;
  color: var(--color-featherfalls);
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__link {
  font-size: 14px;
}

.footer__link:hover {
  cursor: pointer;
  color: var(--color-umbra);
}

.footer__newsletter-text {
  font-size: 16px;
  color: var(--color-umbra);
  line-height: 150%;
}

.footer__input {
  padding: 7px 12px;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-featherfalls);
}

.footer__form {
  gap: 10px;
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid var(--color-illusionblue);
  width: fit-content;
  width: 216px;
}

.footer__separator {
  margin-bottom: 20px;
  border-top: 1 px solid var(--color-violet);
}

.footer__copyright {
  color: var(--color-umbra);
  font-size: 13px;
  line-height: 151%;
}

.footer__copyright-link {
  color: var(--color-purr);
  cursor: pointer;
}

.footer__copyright-link:hover {
  color: var(--color-umbra);
}

@media (--lg-viewport) {
  .footer__main {
    display: flex;
    flex-direction: row;
  }
}
