.footer {
}

.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__main {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 216px);
  margin-left: auto;
  gap: 40px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
}

.footer__logo svg {
  width: 135px;
  height: 47px;
  margin-bottom: 25px;
}

.footer__description {
}

.footer__column-title {
  margin-bottom: 16px;
  font-size: 15px;
  color: var (--color-umbra);
}
.footer__list {
  font-size: 14 px;
  color: var(--color-feather);
}
.footer__list li {
  margin-bottom: 10px;
}

.footer__link {
  font-size: 14px;
}

.footer__link:hover {
}

.footer__newsletter-text {
}

.footer__form {
}

.footer__input {
}

.footer__bottom {
  margin-top: 40px;
  margin-top: auto;
}

.footer__button:hover {
}
.footer__separator {
  margin-bottom: 20px;
}

.footer__copyright {
  color: var (--color-umbra);
  font-size: 13px;
}
