.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  flex-shrink: 0;
}

.page__content {
  flex-grow: 1;
}

.page__get-started-block {
  margin-top: 80px;
  margin-bottom: 80px;
}

.page__about-block {
  margin-top: 130px;
  margin-bottom: 130px;
}

.page__footer {
  flex-shrink: 0;
}
