.relax-block {
  padding-top: 79px;
  padding-bottom: 105px;
}
.relax-block__title {
  font-family: var(--second-family);
  font-size: 39px;
  line-height: 129%;
  letter-spacing: 0.01em;
}

.relax-block__title p {
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0em;
}

.relax-block__content {
  display: flex;
}
.relax-block__features {
  display: flex;
  flex-direction: column;
  align-items:;
  padding-right: 168px;
  padding-top: 60px;
  gap: 1px;
}

.relax-feature {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--color-illusionblue);
  border-bottom: 1px solid var(--color-illusionblue);
  padding-top: 18px;
  padding-bottom: 20px;
  padding-right: 16px;
  padding-left: 12px;
}
.relax-feature--closed {
  padding-bottom: 18px;
  color: var(--color-featherfalls);
}
.relax-feature__icon {
  padding-right: 16px;
}
.relax-feature__title {
  font-family: var(--second-family);
  font-size: 21px;
  line-height: 126%;
}

.relax-feature__desc {
  padding-top: 16px;
}

.relax-feature__arrow {
  margin-left: auto;
  padding-top: 10px;
}

.relax-feature__arrow--closed {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
}

.relax-block__image {
  padding-top: 107px;
  padding-right: 72px;
}
