.relax-block {
  padding-top: 79px;
  padding-bottom: 105px;
}

.relax-block__title {
  font-family: var(--second-family);
  font-size: 39px;
  line-height: 129%;
  letter-spacing: 0.01em;
}

.relax-block__title p {
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0;
}

.relax-block__content {
  display: flex;
  flex-direction: column;
}

.relax-block__features {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-top: 60px;
  gap: 1px;
}

.relax-block__image {
  width: 458px; /* ← Добавьте это */
  height: 258px;
  margin-top: 50px;
}

@media (--lg-viewport) {
  .relax-block__content {
    flex-direction: row;
  }

  .relax-block__image {
    margin-top: 107px;
    margin-left: auto;
  }
}

@media (--xl-viewport) {
  .relax-block__content {
    flex-direction: row;
  }

  .relax-block__image {
    margin-top: 107px;
    margin-right: 54px;
    margin-left: auto;
  }
}
