.relax-block {
  padding-top: 79px;
  padding-bottom: 105px;
}

.relax-block__title {
  font-family: var(--second-family);
  font-size: 39px;
  line-height: 129%;
  letter-spacing: 0.01em;
}

.relax-block__title p {
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0;
}

.relax-block__content {
  display: flex;
}

.relax-block__features {
  display: flex;
  flex-direction: column;
  padding-right: 168px;
  padding-top: 60px;
  gap: 1px;
}

.relax-block__image {
  padding-top: 107px;
  padding-right: 72px;
}
