.social-network__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.social-network__twitter,
.social-network__linkdin,
.social-network__facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.social-network__twitter:hover,
.social-network__linkdin:hover,
.social-network__facebook:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (--sm-viewport) {
  .social-network__logo {
    justify-content: flex-end;
    margin-left: auto;
    padding-top: 0;
  }
}
