body {
  background-color: var(--color-white);
  color: var(--color-umbra);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: transparent;
}

h1,
h2 {
  font-family: var(--second-family);
}
