:root {
  --color-white: #fff;
  --color-black: #1d1d1d;
  --color-umbra: #1f1f1f;
  --color-purr: #0070a0;
  --color-hazenut: #faea73;
  --color-frostyday: #cceff6;
  --color-icypink: #f7cedc;
  --color-lightgray: #f7f9fa;
  --color-illusionblue: #c2cdd8;
  --color-featherfalls: #626a72;
  --color-violet: #dee5eb;
  --color-clearskies: #e6f7ff;
  --color-steelblue: #2c90c9;
  --color-zincdust: #5b5b5b;
  --color-lakelucerne: #689eb9;
  --color-disembark: #5db1db;
  --color-anime: #d0c54e;
  --color-crymeariver: #3f7996;
  --color-gooseberry: #a14362;
  --color-blackliquorice: #3b3b3b;
  --color-supersilver: #eee;
  --color-duskygrouse: #8e959f;
  --color-darkstormcloud: #839095;
  --color-bluejavabanana: #c4ebff;
  --color-ufo: #969fa4;
}
