:root {
  --color-white: #fff;
  --color-black: #1d1d1d;
  --color-umbra: #1f1f1f;
  --color-purr: #0070a0;
  --color-hazenut: #faea73;
  --color-frostyday: #cceff6;
  --color-icypink: #f7cedc;
  --color-feather: #626a72;
  --color-illusion: #c2cdd8;
  --color-violet: #0070a0;
}
