:root {
  color-scheme: dark;

  --color-primary: var(--color-zincdust);
  --color-secondary: var(--color-blackliquorice);
  --color-third: var(--color-lakelucerne);
  --color-fourth: var(--color-darkstormcloud);

  --color-text: var(--color-white);
  --color-text-secondary: var(--color-supersilver);
  --color-text-third: var(--color-disembark);
  --color-text-fourth: var(--color-bluejavabanana);
  --color-back-link: var(--color-white);

  --color-surface: var(--color-gooseberry);
  --color-surface-secondary: var(--color-crymeariver);
  --color-surface-third: var(--color-anime);
  --color-surface-fourth: var(--color-darkstormcloud);
}
