:root {
  color-scheme: light;

  --color-primary: var(--color-white);
  --color-secondary: var(--color-lightgray);
  --color-third: var(--color-purr);
  --color-fourth: var(--color-clearskies);
  --color-text: var(--color-umbra);
  --color-text-secondary: var(--color-umbra);
  --color-text-third: var(--color-purr);
  --color-text-fourth: var(--color-steelblue);
  --color-back-link: var(--color-featherfalls);
  --color-surface: var(--color-icypink);
  --color-surface-secondary: var(--color-frostyday);
  --color-surface-third: var(--color-hazenut);
  --color-surface-fourth: var(--color-clearskies);
  --color-botton: var(--color-purr);
}
